@model MVC.Models.Yazar

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}

@*
    <div id="container">
        <h1>Log In</h1>
        <span class="close-btn">
            <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"></img>
        </span>

        <form>
            <input type="text" name="YazarKAdi" id="YazarKAdi" placeholder="E-mail">
            <input type="password" name="YazarPass" id="YazarPass" placeholder="Password">
            <a href="#"><input type="submit" value="Create"/></a>
            <div id="remember-container">
                <input type="checkbox" id="checkbox-2-1" class="checkbox" checked="checked" />
                <span id="remember">Remember me</span>
                <span id="forgotten">Forgotten password</span>
            </div>
        </form>
    </div>

    <!-- Forgotten Password Container -->
    <div id="forgotten-container">
        <h1>Forgotten</h1>
        <span class="close-btn">
            <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"></img>
        </span>

        <form>
            <input type="email" name="email" placeholder="E-mail">
            <a href="#" class="orange-btn">Get new password</a>
        </form>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
           
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.YazarKAdi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.YazarKAdi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
               
                <div class="col-md-10">
                    @Html.EditorFor(model => model.YazarPass, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.YazarPass, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" id="btn btn-default" />
                </div>
            </div>
        </div>
    }*@


    <div id="container">
        <h1>Log In</h1>
        <span class="close-btn">
            <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"></img>
        </span>

        <form action="/Admin/Login" method="post">
            <input type="text" name="YazarKAdi" id="YazarKAdi" placeholder="KullaniciAdi" required="">
            <input type="password" name="YazarPass" id="YazarPass" placeholder="Password" required="">

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="Log" id="btn btn-default" />
                </div>
            </div>

        </form>
 



</div>
