@model mBlog.Models.Makale

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="small-modal-label">Makale Create</h4>
</div>
<div class="modal-body">


    @using (Html.BeginForm("Create", "AdminMakales", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.KategoriID, "KategoriID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("KategoriID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.KategoriID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MakaleBaslik, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MakaleBaslik, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MakaleBaslik, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MakaleIcerik, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.MakaleIcerik, new { htmlAttributes = new { @class = "form-control", @rows = "20", @cols = "50" }  })
                    @Html.ValidationMessageFor(model => model.MakaleIcerik, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MakaleResim, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="Foto" id="Foto" class="form-control" accept=".jpg,.png,.gif,.jpeg,.JPEG" />
                    @Html.ValidationMessageFor(model => model.MakaleResim, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Video, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Video, new { htmlAttributes = new { @class = "form-control"} })
                    @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MakaleDokuman, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MakaleDokuman, new { htmlAttributes = new { @class = "form-control"} })
                    @Html.ValidationMessageFor(model => model.MakaleDokuman, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Etiketler", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("Etiketler", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.YazarID, "", new { @class = "text-danger" })
                </div>
            </div>



            </div>
            <div class="modal-footer">


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            }
            </div>